[submodule "bibrosecurity/lib/themes"]
	path = bibrosecurity/lib/themes
	url = git@github.com:primefaces/themes.git
[submodule "bibrosecurity/web/resources/bootswatch"]
	path = bibrosecurity/web/resources/bootswatch
	url = git@github.com:thomaspark/bootswatch.git
[submodule "bibrosecurity50/web/resources/bootswatch"]
	path = bibrosecurity50/web/resources/bootswatch
	url = git@github.com:thomaspark/bootswatch.git
